@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --body-color: rgb(228, 228, 228);
    --text-color: rgb(122, 122, 122);
    --title-color: rgb(87, 87, 87);
    --task-border-color: rgb(116, 116, 116); 
    --task-color: rgb(241, 241, 241);
    font-family: "Quicksand", serif;
    --title-font-family: "Silkscreen", serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 160px 1fr;
    height: 100vh;

    grid-template-areas:
        "menu navigation"
        "menu tasks"
    ;
}

/* MENU */

#menu {
    grid-area: menu;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    padding-top: 40px;
    font-size: 20px;
    text-align: center;
    align-items: center;

    font-family: var(--title-font-family);
    color: var(--title-color);
    text-decoration: none;
    font-size: 0.8rem;
}

.logo img {
    height: 70px;
    width: 70px;
    margin-right: 20px;
}

.category {
    margin-bottom: 120px;
}

.category div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;

    font-size: 1.4rem;
    font-weight: 900;
}


.icon {
    height: 25px;
    width: 25px;
}

.category a {
    padding: 20px;
    text-decoration: none;
    color: var(--text-color);
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    color: var(--text-color);
    font-weight: 600;
}

#footer a {
    margin-bottom: 10px;
    font-size: 20px;
}

/* NAVIGATION */

#navigation {
    grid-area: navigation;
    background-color: var(--body-color);
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

#navigation input {
    width: 70%;
    height: 4rem;
    margin-left: 3.3rem;
    border: none;
    border-radius: 20px;

    padding-left: 25px;
    font-size: 25px;
}

#search-bar {
    display: flex;
    flex-direction: column;
}

#navigation button {
    width: 4.2rem;
    height: 4.2rem;
    margin-right: 3.3rem;
    border: none;
    cursor: pointer;
    background-color: var(--body-color);
}

#navigation img {
    width: 4rem;
    height: 4rem;
}

/* TASKS */

#tasks {
    grid-area: tasks;
    background-color: var(--body-color);
    display: flex;
}

img {
    pointer-events: none;
}

.list {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 3.5rem;
}

.task {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: var(--task-color);
    align-items: center;
    border-radius: 30px;
    color: var(--title-color);
    border: 2px solid var(--task-border-color);
    font-weight: 800;
}

.task-title {
    width: 70%;
}

.task h2 {
    font-family: var(--title-font-family);
    margin-left: 10px;
}

.finish {
    width: 3.3rem;
    height: 3.3rem;
    border: none;
    cursor: pointer;
    background: var(--task-color);
}

.finish img{
    width: 3rem;
    height: 3rem;
}

.done {
    border: 2px solid white;
    background: gray;
    color: white;
}

.done h2 {
    text-decoration: line-through;
}

.done img {
    display: none;
}

.done button {
    display: none;
}

/* INSERT MENU */

.hide {
    display: none ; 
}

#insert-container {
    margin-left: 300px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 500px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

#insert-task {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

#insert-task h3 {
    font-family: var(--title-font-family);
    padding-bottom: 30px;
    font-size: 35px;
    text-align: center;
}

#insert-task p {
    margin-left: 15px;
    font-size: 20px;
}

#insert-task input {
    color: var(--text-color);
    font-size: 20px;
    padding: 15px;
    width: 500px;
    margin-bottom: 30px;
    border: 1px solid var(--text-color);
    border-radius: 10px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.button-container button {
    height: 50px;
    width: 160px;
    border: none;
    border-radius: 7px;
    font-size: 20px;
}

.button-container #cancel {
    background-color: rgb(212, 127, 127);
    color: white;
}

.button-container #ready {
    background-color: rgb(120, 228, 129);
    color: white;
}
